@{
    ViewBag.Title = "Home Page";
}


<h2>Welcome To The IMPEX Group!!!!!</h2>
<p style="text-align:justify">
    Technology has many effects. It has helped develop more advanced economies 
    (including today's global economy) and has allowed the rise of a leisure class. 
    Many technological processes produce unwanted by-products known as pollution 
    and deplete natural resources to the detriment of Earth's environment.
     Innovations have always influenced the values of a society and raised new
     questions of the ethics of technology. Examples include the rise of the notion 
    of efficiency in terms of human productivity, and the challenges of bioethics.
</p>


